$primary: #6fd4db;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.jumbotron {
    min-height: 100vh;
    background-image: linear-gradient(90deg, #39c7cc, 44%, #48a37d63);
}

main {
    section {
        min-height: 90vh;

        article {
            padding: 5rem 0;
        }
    }
}