$primary: #2f959c;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    min-height: 100vh;
}
.min-h-screen {
    min-height: 100vh;
}
.jumbotron {
    background-image: linear-gradient(90deg, #299094, 44%, #48a37d63);
}

.bg-gradient-main {
    background-image: linear-gradient(90deg, #2a9094, 44%, #48a37d63);
}

main {
    section {
        article {
            padding: 5rem 0;
        }
    }
}