$primary: #EC612A;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}
.bg-image {
    background-image: url("https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.min-h-screen {
    min-height: 100vh;
}

.jumbotron {
    background-color: #f3f3db;
}

.bg-gradient-main {
    background-color: #f3f3db;
}

main {
    section {
        article {
            padding: 5rem 0;
        }
    }
}